body {
    background-color: lightblue;
    margin: 5em;
}

h1 {
    color: #0000ff;
    border: 2px solid #449933;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 430px;
    height: 40px;
}

p{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

