<!DOCTYPE html>
 <!--The viewport is the user's visible area of a web page. It varies with the device - it will be smaller on a mobile phone than on a computer screen.(might need to paste on a different line in this document.)-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>
<head>
    {% load static %}
    <title>Page Title</title>
    <link rel="stylesheet" href="/static/example.css">
<head>

<body>
    <h1>Hello World!</h1>
    <p>Welcome to my first Django project!</p>
    <p>These are the activities</p>
{% if activities %}
    <ul>
    {% for activity in activities %}
        <li><a href="{% url 'house:detail' activity.id %}/">{{ activity.activity_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No houses are available.</p>
{% endif %}
</body>
</html>




